//  기본 색상 --------------------------------------------------------- /
$white: #ffffff;
$black: #000000;
$yellow: #FFEF68;
$gray1: #F0F1F4;
$gray2: #EAEAEA;
$gray3: #FAFAFA;
$gray4: #AEAEAF;
$gray5: #666666;

$comment-background-color: $gray1;
$comment-placeholder-color: $gray2;
$category-border-color: $gray4;
$footer-background-color: $gray3;
$footer-text-color: $gray5;
