@use './../utils'as *;

.main {
    @include boxSizeMax();
    min-width: 394px;
}

.main-content__today {
    position: relative;
    @include desktop {
        padding: 0 2%;
    }
}


.gutter-sizer {
    @include desktop {
        width: 4%;
    }

    @include desktopL {
        width: 3%;
    }
}

.button-top {
    display: block;
    position: sticky;
    position: -webkit-sticky;
    // right: 100%;
    left: 95%;
    bottom: 3%;
    width: 46px;
    height: 46px;
    border: 1px solid $gray9;
    border-radius: 50%;
    background-image: url(../assets/images/ico_top.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 17px 20px;
    background-position: 50%;
    z-index: 9999;
}