@use '../utils'as *;

.main-tap {
    min-width: 394px;
    margin-bottom: 20px;

    &__list {
        @include flexbox(row, center, center);
        padding: 0px 17.5px;
        border-bottom: 1px solid $gray10;
    }

    &__item {
        display: block;
        @include autoMargin();
    }

    button {
        display: block;
        border: none;
        height: 40px;
        background: #fff;
        padding: 11px 38px;
        white-space: nowrap;
    }
    .is-active {
        border-bottom: 3px solid #000;
        font-weight: bold;
    }
}