@use '../utils/' as *;

.button-more {
    display: block;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    padding: rem(24px) rem(80px) rem(24px) rem(60px);
    background-image: url(../assets/images/story-more.png);
    
    // background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 75% 47%;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    margin: 20px auto;
}