@use '../utils/' as *;

.button-more {
    display: block;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    padding: rem(24px) rem(60px);
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    margin: 20px auto;

    &:after {
        content: "";
        width: rem(16px);
        height: rem(16px);
        background-image: url(./../assets/images/arrow_down_white.svg);
        background-repeat: no-repeat;
        display: inline-block;
        margin-left: rem(4px);
        border-radius: 50%;
        background-color: black;
        vertical-align: top;
    }
}