@use './../utils'as *;

// header
.header {
    position: relative;
    @include boxSizeMax();
    min-width: 394px;

    &-wrap {
        @include mobile {
            @include flexbox(row, space-between);
            margin-top: rem(25px);
        }

        @include desktop {
            padding-top: rem(100px);
            text-align: center;
            transition: 400ms;
            margin-bottom: rem(20px);
        }

    }
}

.header {
    @include desktop {
        background-color: #fff;
    }
}

.button-menu-open {
    order: -1;
    display: block;
    width: 19px;
    height: 19px;
    border: 0;
    margin-left: 40px;
    transform: scale(1.4);
    background-color: transparent;
    background-image: url(./../assets/images/hamburger_button.svg);
    background-repeat: no-repeat;
}

@include desktop {
    .button-menu-open {
        display: none;
    }
}

.logo {
    @include mobile {
        transform: scale(1.4);
    }
}

.utility {
    @include flexbox;

    @include desktop {
        position: absolute;
        right: rem(32px);
        margin-top: -22px;
    }

    [class*=utility__item]{
        @include mobile {
            margin-right: 20px;
        }
        @include desktop {
            margin-right: 32px;
        }
    }


    &__item-search {
        order: -1;
    }

    &__button-global{
        display: block;
        width: rem(19px);
        height: rem(19px);
        border: 0;
        background-color: transparent;
        background-image: url(./../assets/images/global_button.svg);
        background-repeat: no-repeat;
    }

    &__button-search {
        display: block;
        width: rem(19px);
        height: rem(19px);
        border: 0;
        background-color: transparent;
        background-image: url(./../assets/images/search_button.svg);
        background-repeat: no-repeat;
    }

    @include mobile {
        &__button-global,
        &__button-search {
            transform: scale(1.4);
        }
    }
}

// 전체 메뉴
.navigation {
    @include mobile {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 80vw;
        height: 100%;
        padding: 0 rem(30px);
        background-color: $white;
        overflow: auto;

        &--active {
            display: block;
            z-index: 1;
        }
    }
}

.ad-banner {
    @include mobile {
        position: absolute;
        top: 90px;
        left: 20px;
        background-color: #fff;
        z-index: 2;
    }

    @include desktop {
        @include boxSizeFull();
        height: 55px;
        background-color: $yellow;
        text-align: center;
        display: none;
        position: absolute;
        top: 0;
    }

    &--active {
        display: block;
    }

    &__button-close {
        @include mobile {
            display: none;
        }

        @include desktop {
            position: absolute;
            top: rem(15px);
            right: 0;
            width: 50%;
            background: transparent;
            border: 0;
            font-size: 1.7rem;
        }
    }

    &__link {
        @include desktop {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &__link img {
        @include mobile {
            border-radius: rem(15px);
            max-width: 94%;
        }

        @include desktop {
            height: 100%;
        }
    }
}

// 메뉴 버튼
.button-member {
    @include mobile {
        display: none;
    }

    @include desktop {
        display: block;
        width: rem(19px);
        height: rem(19px);
        border: 0;
        background-color: transparent;
        background-image: url(./../assets/images/user-menu.svg);
        background-repeat: no-repeat;
        
        position: absolute;
        right: 0;
        margin-top: -42px;
    }
}

.button-character,
.button-category {

    border: none;
    background: transparent;

    @include mobile {
        display: inline-block;
        width: 100%;
        padding: rem(20px) 0;
        text-align: left;
        border: none;
        background-color: $white;
    }

    // 데스크탑 버튼 추가
    @include desktop {
        font-size: rem(18px);
        padding: 20px 0 20px 20px;

        &:after {
            content: "";
            width: rem(16px);
            height: rem(16px);
            background-image: url(./../assets/images/arrow_down_white.svg);
            background-repeat: no-repeat;
            display: inline-block;
            margin-left: rem(4px);
            border-radius: 50%;
            background-color: black;
        }

        &--active::after {
            transform: rotate(180deg);
        }
    }
}


.button-other {
    border: none;
    background: transparent;
    font-size: rem(18px);
    padding: 0;

    @include mobile {
        display: none;
    }

    @include desktop {
        padding: 20px 0 20px 20px;

        &:after {
            content: "";
            width: rem(16px);
            height: rem(16px);
            background-color: black;
            border-radius: 50%;
            background-image: url(./../assets/images/arrow_down_white.svg);
            background-repeat: no-repeat;
            display: inline-block;
            margin-left: rem(4px);
        }


        &--active::after {
            transform: rotate(180deg);
        }
    }
}

.button-menu-close {
    @include mobile {
        position: absolute;
        top: 0;
        right: 0;
    }

    @include desktop {
        display: none;
    }
}

// 메뉴 멤버
.menu {
    

    @include mobile {
        font-size: rem(20px);
    }

    @include desktop {
        font-size: rem(16px);
        display: flex;
        // display: inline-flex;
    }

    .member {
        @include mobile {
            margin-top: rem(50px);
        }

        @include desktop {
            background-color: $yellow;
            position: absolute;
            right: 10px;
            // margin-right: -40px;
            // margin-top: -87px;
            width: 155px;
            z-index: 1;
        }
    }

    &__item {
        @include desktop {
            display: block;
            width: rem(130px);
        }
    }
}

.menu-member {
    @include mobile {
        position: relative;

        &__link.login {
            font-weight: 700;
        }

        &__link.non-member-order {
            position: absolute;
            top: 0;
            right: 0;
            font-size: rem(17px);
        }

        &__link.shopping-basket,
        &__link.order {
            display: inline-block;
            width: 100%;
            padding: rem(25px) 0;
        }

        &__item.shopping-basket {
            margin-top: rem(100px);
        }

        &__item.order:after {
            content: "";
            display: block;
            border-bottom: 1px solid $gray2;
        }
    }

    @include desktop {
        display: none;
        white-space: nowrap;
        padding: 40px 28px 20px;

        &--active {
            display: block;
        }

        &__item{
            margin-bottom: 20px;
        }
    }
}


.menu-character {
    height: 0;
    overflow: hidden;
    transition: 200ms ease;
    // transition-delay: 150ms;
    @include flexbox($flex-wrap:wrap);

    @include desktop {
        @include boxSizeMax();
        width: 100vw;
        background-color: $yellow;
        margin-top: 16px;
    }

    &--active {
        background-color: $yellow;

        @include mobile {
            background-color: $white;

            @media (max-width:549px) {
                height: rem(1040px);
            }

            @media (min-width:550px) {
                height: rem(600px);
            }
        }

        @include desktop {
            @media (max-width:1100px) {
                padding-top: rem(5px);
                height: rem(220px);
            }

            @media (min-width:1100px) {
                height: rem(110px);
            }
        }
    }

    &__item {
        margin: 10px;
    }

}

.menu .category:after {
    @include mobile {
        content: "";
        display: block;
        padding-top: rem(20px);
        border-bottom: 1px solid $gray2;
    }
}

.menu-category {
    // display: none;
    @include flexbox($flex-wrap:wrap);
    @include boxSizeMax();
    height: 0;
    overflow: hidden;
    transition: 200ms;
    margin-left: -100%;
    width: 100vw;
    justify-content: space-around;
    align-items: center;

    @include desktop {
        &--active {
            @include boxSizeMax();
            @include flexbox($flex-wrap:wrap);
            width: 100vw;
            margin-top: 16px;
            margin-left: -100%;
            padding: 15px 0 15px 0px;
            white-space: nowrap;
            align-items: center;
            background-color: $yellow;
            justify-content: space-around;
            font-size: 16px;

            @include desktop {
                @media (max-width:1100px) {
                    height: rem(50px);
                }

                @media (min-width:1100px) {
                    height: rem(50px);
                }
            }
        }
    }
}

.menu-other {

    @include mobile {

        &__link {
            display: inline-block;
            width: 100%;
            padding: rem(25px) 0;
        }

        &__item.notice {
            padding-top: rem(20px);
        }

        &__item.center:after {
            content: "";
            display: block;
            padding-top: rem(20px);
            border-bottom: 1px solid $gray2;
        }

        &__item.giftcard {
            padding-top: rem(20px);
        }

        &__item.giftcard:after {
            content: "";
            display: block;
            padding-top: rem(20px);
            border-bottom: 1px solid $gray2;
        }

        &__item.brand-story {
            padding-top: rem(20px);
        }

        &__item.store-inform {
            margin-bottom: rem(60px);
        }
    }

    @include desktop {

        @include flexbox($flex-wrap:wrap);
        @include boxSizeMax();
        width: 100vw;
        height: 0;
        overflow: hidden;
        transition: 200ms;
        margin-left: -200%;
        justify-content: space-around;
        align-items: center;


        &--active {
            @include boxSizeMax();
            @include flexbox($flex-wrap:wrap);
            width: 100vw;
            margin-top: 16px;
            margin-left: -200%;
            padding: 15px 0 15px 0px;
            white-space: nowrap;
            align-items: center;
            background-color: $yellow;
            justify-content: space-around;
            font-size: 16px;

            @media (max-width:1100px) {
                height: rem(50px);
            }

            @media (min-width:1100px) {
                height: rem(50px);
            }

        }
    }
}

// search
//검색폼 모바일 기준
.search {
    @include boxSizeMax(rem(654px));
    margin: 0 auto;

    &-wrap {
        background-color: $white;
        z-index: 1;
        // display: none;
        transition: 400ms;
        width: 100vw;
        height: 0;
        overflow: hidden;

        @include mobile {
            position: fixed;
            top: 0;
            left: 0;
            // height: 100%;
            // transform: translateX(150vw);
        }

        @include desktop {
            background-color: $yellow;
            position: absolute;
            @include boxSizeMax();
            margin-top: 8px;
            // transform: translateY(-115vw);
        }

        &--active {
            transform: none;
            height: 717px;
            // display: block;

            @include mobile {
                height: 100%;
                overflow: auto;
            }

            @include desktop {
                padding: rem(40px) 0 rem(35px) 0;
            }
        }
    }

    //검색 폼
    &__form {
        @include flexbox(row, center, center, nowrap);
        width: 100%;
        padding: 13px;
    }

    //검색어 입력창
    &__input {
        width: 100%;
        height: 42px;
        padding: rem(13px);
        border: none;
        border-radius: 60px;
        background-color: $comment-background-color;
    }

    //검색 - 버튼 리스트
    &__button {
        height: 100%;

        //검색 버튼
        &-submit {
            background-image: url(./../assets/images/search_button.svg);
            background-repeat: no-repeat;
            background-color: transparent;
            border: none;
            margin-left: rem(8px);
            width: rem(25px);
            height: rem(22px);

        }

        //취소 버튼
        &-cancel {
            width: rem(54px);
            border: none;
            background: transparent;

            @include desktop {
                font-size: rem(16px);
            }
        }
    }

    //검색-카테고리(제목)
    &__heading-category {
        margin-top: rem(22px);
        margin-left: rem(20px);

        @include desktop {
            font-size: rem(15px);
            text-align: left;
        }
    }

    //검색 - 캐릭터 리스트
    &-character {
        @include flexbox(row, $flex-wrap: wrap);
        padding: rem(20px) rem(13px);

        &__item {
            @include flexbox(column, center, center, wrap);
            width: rem(80px);
            padding: rem(10px) 0;
            margin: 0 rem(3px);
        }

        // 검색 - 캐릭터, 카테고리 구분선
        &__devide-line {
            height: 1px;
            display: block;
            border: none;
            background-color: $gray5;
            margin: rem(24px) rem(20px);
        }
    }

    //검색 - 카테고리 리스트
    &-category {
        @include flexbox(row, $flex-wrap: wrap);
        padding: rem(12px) rem(20px);

        &__item {
            border: 1px solid $category-border-color;
            border-radius: rem(51px);
            padding: 6px 13px;
            background-color: $white;
            margin: 0 7px 9px 0;
        }

        &__link {
            height: 15px;
            line-height: 1;
            font-size: rem(14px);
            white-space: nowrap;
        }
    }
}


[class*=-character__item] {

    //캐릭터 사진
    [class*=-character__link]::before {
        content: "";
        display: block;
        padding-top: rem(70px);
        width: rem(75px);
        height: rem(75px);
        background-size: auto 100%;
        background-image: url(./../assets/images/kakao.svg);
        background-repeat: no-repeat;
    }

    .menu-character__link::before {
        @include desktop {
            padding-top: rem(50px);
            width: rem(50px);
            height: rem(50px);
        }
    }

    //캐릭터 이름
    span {
        display: block;
        text-align: center;
        white-space: nowrap;
        padding-top: rem(22px);
        font-size: rem(12px);

        @include desktop {
            font-size: rem(14px);
        }
    }

    //캐릭터 스프라이트
    .apeach {
        &::before {
            background-position: -75px 0;
        }

        &.menu-character__link::before {
            @include desktop {
                background-position: -50px 0;
            }
        }
    }

    .muji {
        &::before {
            background-position: -150px 0;
        }

        &.menu-character__link::before {
            @include desktop {
                background-position: -100px 0;
            }
        }
    }

    .prodo {
        &::before {
            background-position: -225px 0;
        }

        &.menu-character__link::before {
            @include desktop {
                background-position: -150px 0;
            }
        }
    }

    .neo {
        &::before {
            background-position: -300px 0;
        }

        &.menu-character__link::before {
            @include desktop {
                background-position: -200px 0;
            }
        }
    }

    .tube {
        &::before {
            background-position: -375px 0;
        }

        &.menu-character__link::before {
            @include desktop {
                background-position: -250px 0;
            }
        }
    }

    .jayz {
        &::before {
            background-position: -450px 0;
        }

        &.menu-character__link::before {
            @include desktop {
                background-position: -300px 0;
            }
        }
    }

    .con {
        &::before {
            background-position: -525px 0;
        }

        &.menu-character__link::before {
            @include desktop {
                background-position: -350px 0;
            }
        }
    }

    .chunsik {
        &::before {
            background-position: -600px 0;
        }

        &.menu-character__link::before {
            @include desktop {
                background-position: -400px 0;
            }
        }
    }

    .jordy {
        &::before {
            background-position: -675px 0;
        }

        &.menu-character__link::before {
            @include desktop {
                background-position: -450px 0;
            }
        }
    }

    .scappy {
        &::before {
            background-position: -750px 0;
        }

        &.menu-character__link::before {
            @include desktop {
                background-position: -500px 0;
            }
        }
    }

    .angmond {
        &::before {
            background-position: -825px 0;
        }

        &.menu-character__link::before {
            @include desktop {
                background-position: -550px 0;
            }
        }
    }

    .penda {
        &::before {
            background-position: -900px 0;
        }

        &.menu-character__link::before {
            @include desktop {
                background-position: -600px 0;
            }
        }
    }

    .keroBerony {
        &::before {
            background-position: -975px 0;
        }

        &.menu-character__link::before {
            @include desktop {
                background-position: -650px 0;
            }
        }
    }

    .dream {
        &::before {
            background-position: -1050px 0;
        }

        &.menu-character__link::before {
            @include desktop {
                background-position: -700px 0;
            }
        }
    }
}